@import "/io/github/chitchat/client/styles/all.css";

#wrapper {
    -fx-background-color: -color-background2;
    -fx-padding: 40px;
    
    -fx-background-radius: 4px;
}

#createAccount .label {
    -fx-text-fill: -color-text1;
    -fx-font-size: 18px;
    
    -fx-padding: 4px;
}

#createAccount .ikonli-font-icon {
    -fx-icon-color: -color-text1;
    -fx-icon-size: 20px;
}
