@import url("/io/github/chitchat/client/styles/all.css");

#messageContentWrapper {
    -fx-background-color: -color-outline3;

    -fx-background-radius: 10px;
    -fx-border-radius: 10px;

    -fx-padding: 10px;
}

#messageImageWrapper {
    -fx-padding: 5px 10px 5px 5px;
}

#userName {
    -fx-text-fill: -color-text3;
    -fx-font-size: 15px;
}

#messageContent {
    -fx-text-fill: -color-text1;
    -fx-font-size: 18px;
}