/*noinspection CssInvalidPseudoSelector*/
.chit-message-box:right-pos #messageContentWrapper {
   /* -fx-background-color: #DCF8C6;*/
    -fx-background-color: red;
    -fx-text-fill: red;
}

/*noinspection CssInvalidPseudoSelector*/
.chit-message-box:left-pos #messageContentWrapper {
    -fx-background-color: blue;
    -fx-text-fill: blue;
}
