@import url("../../styles/global.css");

#background {
    -fx-background-color: -fx-bg1;
}


.list-cell {
    -fx-padding: 10px;

    -fx-text-fill: #ffffff;
}

.list-cell:selected {

    -fx-text-fill: #ffffff;

}


#chatArea {
    -fx-background-color: -fx-bg2;
}

#chatinput {

    -fx-padding: 10px;
    -fx-text-fill: #ffffff;
}


#inputArea {
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
    -fx-text-fill: #ffffff;
}

#sendButton {
    -fx-background-color: #390089;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
    -fx-border-radius: 5px;
}


#callButton {
    -fx-background-color: #390089;
    -fx-padding: 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px 20px;
}


#callVideoButton {
    -fx-background-color: #390089;
    -fx-padding: 10px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px 20px;
}
